/* OBRIGATÓRIO ; */

* {
    background: rgb(128, 172, 199);
}


.filho {

    color: blueviolet;
    background: gray;

}

p {
    color: rgb(141, 158, 146);
}

button {

    color: darkred;
    background-color: silver;
}

